/*------------------------------------
 *Author:Fernando Corinaldesi
 *Version:0.0.1
 *-------------------------------------


/*-----------------contenedor general-----------------*/
.contenedor-microondas{
  /*background-color: rgb(255, 255, 255);*/
   width: 100%;
   height: 100%;
   background: rgb(47,20,4);
   background: linear-gradient(0deg, rgba(47,20,4,1) 34%, rgba(255,255,255,1) 36%);
   position: absolute;
 }
 /*-----------------microondas-----------------*/
.microondas{
    display: flex;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom: black 3px solid;
    border-top: rgb(83, 79, 79) 10px solid;
    width: 800px;
    height: 450px;
    margin: auto;
    background: rgb(56,57,52);
    background: linear-gradient(90deg, rgba(56,57,52,1) 0%, rgba(171,161,164,1) 35%, rgba(220,220,220,1) 100%);
}
/*-----------------vidrio del microondas-----------------*/
.microondas-central{
   width: 60%;
   height: 70%;
   background: rgb(45,49,53);
   background: linear-gradient(335deg, rgba(45,49,53,1) 55%, rgba(148,154,151,1) 100%);
   margin: auto;
   border-radius: 20px;
   display: flex;
   flex-direction: column-reverse;
   align-items: flex-start;
   cursor: pointer;
    transform-origin: bottom;
    transition: all 0.5s ease-in-out;
}


.microondas-central h6{
    color: rgb(221, 208, 208);
    margin-left:8px;
 }
 /*-----------------panel izquierdo-----------------*/
.microondas-lateral{
    width: 15%;
    height: 100%;
    background-color: rgb(215,215,215);
    border-left: black 2px solid;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 /*-----------------panel izquierdo>marca-----------------*/
.marca{
    height: 15%;
    
}
/*-----------------panel izquierdo>visor-----------------*/
.visor{
    width: 75%;
    height: 12%;
    background-color: black;
}
/*-----------------panel izquierdo>visor>contenido-----------------*/
.visor-contenido{
    color: rgb(42, 207, 42);
    font-size: 16px;
    text-align: center;
}
/*-----------------panel izquierdo>tapa baja-----------------*/
.tapa-baja{
    width: 75%;
    height: 13%;
    border: rgb(65, 60, 60) 1px solid;
    border-bottom-right-radius: 5px;
}
/*-----------------panel izquierdo>contenedor del menu-----------------*/
.contenedor-menu{
    width: 75%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2px;
}
/*-----------------panel izquierdo>contenedor del menu>boton giratorio-----------------*/
.boton-redondo{
  border: double 1px transparent;
  border-radius: 100%;
  /*background-image: linear-gradient(white, white), radial-gradient(circle at top left, rgb(183, 232, 252),#20cbff);*/
  background-origin: border-box;
  background-clip: content-box, border-box;
  width: 60%;
  height: 15%; 
  cursor: pointer;
  margin-top: 2px;
  margin-bottom: 2px;
  transition: all 1.5s ease-in-out;
}

/*-----------------panel izquierdo>contenedor del menu>botones superiores-----------------*/
.botones-superiores{
  width:100%;
  height: 25%;
}
.bs{
    width: 30%;
    height: 20%;
    /*border: rgb(93, 192, 231) 1px solid;*/
    border-radius: 50%;
    margin: 1px;
    font-size: 10px;
}
/*-----------------panel izquierdo>contenedor del menu>botones inferiores-----------------*/
.botones-inferiores{
    width:100%;
    height: 45%;
  }
.bi{
    width: 31%;
    height: 25%;
    /*border: rgb(93, 192, 231) 1px solid;*/
    border-radius: 50%;
    margin: 1px;
}   
/*-----------------panel izquierdo>contenedor del menu>botones de la parte del encendido-----------------*/
.botones-encendido{
    width:100%;
    height: 15%;
}
.be{
    width: 40%;
    height: 37%;
    /*border: rgb(93, 192, 231) 1px solid;*/
    border-radius: 25%;
    margin: 2px;
    font-size: 10px;
}
/*-----------------hover para los botones-----------------*/
.be:hover,.bi:hover,.bs:hover{
    background: #20cbff;
    color: aliceblue;
    cursor: pointer;
}
/*-----------------clase para propiedades en comun-----------------*/
.abstract-flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/*-----------------clasea utlizadas por js-----------------*/
.boton-rotar{
    transform: rotate(180deg);
}
.abrir-vidrio{
    transform: translateZ(0px) translateX(0px) translateY(0px) rotateX(140deg);
}
.boton-rotar-borderstyle{
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, rgb(183, 232, 252),#20cbff);
    }
.botones-borderstyle{
    border :rgb(93, 192, 231) 1px solid;
}