
  /*-----------------responsive para celulares-----------------*/
@media only screen and (max-width: 600px) {
    
  .contenedor-microondas .microondas .microondas-lateral .contenedor-menu .botones-inferiores .bi {
    height: 15%;
  }
  
  .contenedor-microondas .microondas .microondas-lateral .contenedor-menu .botones-superiores .bs {
    width: 35%;
    height: 30%;
      
  }

  .contenedor-microondas .microondas .microondas-lateral .contenedor-menu .botones-encendido .be {
    height: 35%;
  }

}

@media only screen and (max-width: 415px){
 
 
  .contenedor-microondas .microondas .microondas-lateral{
    width: 35%;
  }
  
  .contenedor-microondas .microondas .microondas-lateral .contenedor-menu{
  width: 100%;
      
  }

  
  .contenedor-microondas .microondas .microondas-lateral .contenedor-menu .botones-inferiores .bi{
    height: 20%;
    width: 25%;
    
  }
  
  .contenedor-microondas .microondas .microondas-lateral .contenedor-menu .botones-superiores .bs{
    width: 35%;
    height: 35%;
          
  }
  
  .contenedor-microondas .microondas .microondas-lateral .contenedor-menu .botones-encendido .be {
    height: 50%;
    width: 45%;
    
  }
  
  .contenedor-microondas .microondas .microondas-lateral .contenedor-menu .boton-redondo{

   width: 40%;
   height: 15%; 
   margin-top: 10px;
   margin-bottom: 5px;

  }

}
@media only screen and (max-width: 736px) and (orientation: landscape){
   
   .contenedor-microondas .microondas{
    width: 630px;
    height: 310px;
  }
  
   .contenedor-microondas .microondas .microondas-lateral .visor{
    height: 10%;
  }
  
   .contenedor-microondas .microondas .microondas-lateral .marca{
    height: 10%;
    margin-bottom: 5px;
  }
  
  .contenedor-microondas .microondas .microondas-lateral{
    width: 35%;
  
  }
  
  .contenedor-microondas .microondas .microondas-latera .contenedor-menu{
  width: 100%;
      
  }

  
  .contenedor-microondas .microondas .microondas-lateral .contenedor-menu .botones-inferioress .bi{
    height: 20%;
    width: 25%;
    margin: 2px;
    
  }
  
  .contenedor-microondas .microondas .microondas-lateral .contenedor-menu .botones-superiores .bs {
    margin-top: 3px;
    width: 27%;
    height: 30%;
    margin: 2px;            
  }
 
  
  .contenedor-microondas .microondas .microondas-lateral .contenedor-menu .botones-encendido .be{
    height: 50%;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 2px;
    
    }
  
  .contenedor-microondas .microondas .microondas-lateral .contenedor-menu .boton-redondo{

   width: 25%;
   height: 20%; 
   margin-top: 5px;
   margin-bottom: 5px;

  }
  
  .contenedor-microondas .microondas .microondas-lateral .tapa-baja{

   height: 7%;

  }

}